In [46]:
import pandas as pd

In [56]:
clust_kmeans = pd.read_csv("../../results_demo/absorption/NLP/bepler/unsupervised_clustering_sequences_kmeans.csv")
clust_birch = pd.read_csv("../../results_demo/absorption/NLP/bepler/unsupervised_clustering_sequences_birch.csv")
clust_aglo = pd.read_csv("../../results_demo/absorption/NLP/bepler/unsupervised_clustering_sequences_aglomerative.csv")

In [57]:
clust_merge = clust_kmeans
clust_merge

    Unnamed: 0              id  target  labels
0            0  sequence_40826     539       0
1            1  sequence_40787     510       0
2            2  sequence_40789     510       2
3            3  sequence_40794     519       2
4            4  sequence_40806     525       0
..         ...             ...     ...     ...
76          76  sequence_40795     562       0
77          77  sequence_40866     620       0
78          78  sequence_40799     597       0
79          79  sequence_40788     510       2
80          80  sequence_40867     622       0

[81 rows x 4 columns]

In [58]:
profiles = []

for index in clust_merge.index:
    profile = "{}-{}-{}".format(
        clust_kmeans['labels'][index],
        clust_birch['labels'][index],
        clust_aglo['labels'][index]
    )
    profiles.append(profile)

clust_merge['labels'] = profiles
clust_merge['labels'].unique()

clust_merge = clust_merge.drop(columns=['Unnamed: 0'])

clust_merge

                id  target labels
0   sequence_40826     539  0-0-0
1   sequence_40787     510  0-0-0
2   sequence_40789     510  2-2-0
3   sequence_40794     519  2-2-2
4   sequence_40806     525  0-0-0
..             ...     ...    ...
76  sequence_40795     562  0-0-0
77  sequence_40866     620  0-0-0
78  sequence_40799     597  0-0-0
79  sequence_40788     510  2-2-0
80  sequence_40867     622  0-0-0

[81 rows x 3 columns]

In [59]:
clust_merge.to_csv("../../results_demo/absorption/NLP/bepler/unsupervised_clustering_sequences.csv")

In [60]:
cluster_graph = pd.read_csv("../../results_demo/absorption/NLP/bepler/Euclidean/graph_clustering_sequences.csv")
cluster_unsupervised = pd.read_csv("../../results_demo/absorption/NLP/bepler/unsupervised_clustering_sequences.csv")

In [61]:
cluster_unsupervised

    Unnamed: 0              id  target labels
0            0  sequence_40826     539  0-0-0
1            1  sequence_40787     510  0-0-0
2            2  sequence_40789     510  2-2-0
3            3  sequence_40794     519  2-2-2
4            4  sequence_40806     525  0-0-0
..         ...             ...     ...    ...
76          76  sequence_40795     562  0-0-0
77          77  sequence_40866     620  0-0-0
78          78  sequence_40799     597  0-0-0
79          79  sequence_40788     510  2-2-0
80          80  sequence_40867     622  0-0-0

[81 rows x 4 columns]

In [62]:
df_merge = cluster_graph.merge(cluster_unsupervised, left_on='id', right_on='id')
df_merge = df_merge.drop(columns=['Unnamed: 0'])
df_merge

                id  label  target labels
0   sequence_40861      1     464  1-1-0
1   sequence_40814      1     510  1-1-1
2   sequence_40804      1     561  0-0-0
3   sequence_40789      0     510  2-2-0
4   sequence_40838      0     531  0-0-0
..             ...    ...     ...    ...
76  sequence_40830      0     558  0-0-0
77  sequence_40797      1     558  0-0-0
78  sequence_40866      0     620  0-0-0
79  sequence_40843      1     495  0-0-0
80  sequence_40801      0     561  2-2-2

[81 rows x 4 columns]

In [63]:
#armamos un pseudo bi-clustering o perfil
profiles = []

for index in df_merge.index:
    profile = "{}-{}".format(
        df_merge['label'][index],
        df_merge['labels'][index],
    )
    profiles.append(profile)

df_merge['profile'] = profiles
df_merge['profile'].unique()

array(['1-1-1-0', '1-1-1-1', '1-0-0-0', '0-2-2-0', '0-0-0-0', '0-2-2-2',
       '0-2-0-0'], dtype=object)

In [64]:
df_merge.to_csv("../../results_demo/absorption/NLP/bepler/Euclidean/generated_profiles.csv", index=False)