In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../results_demo/absorption/FFT/Group_0/Minkowski/generated_profiles.csv")
df_distances = pd.read_csv("../../results_demo/absorption/FFT/Group_0/Minkowski/distance_estimator.csv")

In [6]:
a = df.profile.unique()
len(a)

3

In [71]:
df_00 = (df["profile"] == "0-0")
df_01 = (df["profile"] == "0-1")
df_10 = (df["profile"] == "1-0")
df_11 = (df["profile"] == "1-1")
df_20 = (df["profile"] == "2-0")

In [72]:
clus00 = df[df_00]
clus01 = df[df_01]
clus10 = df[df_10]
clus11 = df[df_11]
clus20 = df[df_20]

In [73]:
clus00

                id  label  target  labels profile
1   sequence_40814      0     510       0     0-0
2   sequence_40804      0     561       0     0-0
3   sequence_40789      0     510       0     0-0
4   sequence_40838      0     531       0     0-0
6   sequence_40834      0     546       0     0-0
7   sequence_40790      0     523       0     0-0
9   sequence_40805      0     564       0     0-0
10  sequence_40836      0     543       0     0-0
11  sequence_40855      0     522       0     0-0
14  sequence_40826      0     539       0     0-0
16  sequence_40794      0     519       0     0-0
17  sequence_40787      0     510       0     0-0
19  sequence_40859      0     543       0     0-0
20  sequence_40807      0     528       0     0-0
21  sequence_40808      0     543       0     0-0
22  sequence_40818      0     522       0     0-0
23  sequence_40792      0     517       0     0-0
24  sequence_40819      0     532       0     0-0
25  sequence_40839      0     538       0     0-0
26  sequence_40795      0     562       0     0-0
27  sequence_40860      0     535       0     0-0
28  sequence_40817      0     528       0     0-0
29  sequence_40800      0     558       0     0-0
31  sequence_40840      0     528       0     0-0
34  sequence_40863      0     566       0     0-0
36  sequence_40802      0     560       0     0-0
38  sequence_40862      0     546       0     0-0
39  sequence_40809      0     528       0     0-0
43  sequence_40833      0     549       0     0-0
44  sequence_40864      0     549       0     0-0
45  sequence_40806      0     525       0     0-0
46  sequence_40820      0     543       0     0-0
49  sequence_40810      0     549       0     0-0
50  sequence_40803      0     549       0     0-0
51  sequence_40823      0     546       0     0-0
53  sequence_40857      0     522       0     0-0
57  sequence_40811      0     534       0     0-0
59  sequence_40842      0     522       0     0-0
60  sequence_40825      0     532       0     0-0
61  sequence_40845      0     495       0     0-0
62  sequence_40832      0     555       0     0-0
64  sequence_40835      0     535       0     0-0
65  sequence_40821      0     549       0     0-0
67  sequence_40844      0     519       0     0-0
68  sequence_40824      0     523       0     0-0
69  sequence_40822      0     549       0     0-0
71  sequence_40841      0     528       0     0-0
72  sequence_40816      0     531       0     0-0
73  sequence_40813      0     528       0     0-0
75  sequence_40837      0     543       0     0-0
77  sequence_40797      0     558       0     0-0

In [87]:
#data = {"id_seq1": [" "],"target_seq1": [" "],"id_seq2": [" "],"target_seq2": [" "],"distance": [" "]}
Cluster = pd.DataFrame()
Cluster

Empty DataFrame
Columns: []
Index: []

In [88]:
len(clus11.index)

19

In [89]:
for i in range (0,len(clus11.index)):
    df_filter = df_distances[(df_distances.id_seq1=="sequence_40826") & (df_distances.id_seq2 == clus11.iloc[i][0])]
    Cluster = pd.concat([Cluster,df_filter])

In [90]:
Cluster

           id_seq1  target_seq1         id_seq2  target_seq2     distance
34  sequence_40826          539  sequence_40861          464  7309.721905
31  sequence_40826          539  sequence_40846          483  4152.870211
23  sequence_40826          539  sequence_40831          525  6828.304285
32  sequence_40826          539  sequence_40791          454  6972.266199
27  sequence_40826          539  sequence_40847          486  7195.984154
33  sequence_40826          539  sequence_40793          456  7098.608087
26  sequence_40826          539  sequence_40851          477  3614.141968
40  sequence_40826          539  sequence_40850          462  7605.884716
24  sequence_40826          539  sequence_40856          498  7751.443277
22  sequence_40826          539  sequence_40829          528  4478.090099
38  sequence_40826          539  sequence_40848          461  7445.436381
37  sequence_40826          539  sequence_40853          463  7181.594732
25  sequence_40826          539  sequence_40815          498  7200.115380
35  sequence_40826          539  sequence_40812          464  7034.034343
39  sequence_40826          539  sequence_40849          464  7100.706102
29  sequence_40826          539  sequence_40852          474  6975.035138
28  sequence_40826          539  sequence_40858          495  7518.131677
36  sequence_40826          539  sequence_40854          465  7372.931621
30  sequence_40826          539  sequence_40843          495  7206.749962

In [91]:
Cluster.to_csv("../../results_demo/absorption/FFT/Group_0/Minkowski/clusters/cluster1-1.csv")