In [49]:
import sys
sys.path.insert(0, '../')
import pandas as pd

In [50]:
from mutations import Mutations

In [51]:
native = "MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLASWNYNTNITEENVQNMNNAGDKWSAFLKEQSTLAQMYPLQEIQNLTVKLQLQALQQNGSSVLSEDKSKRLNTILNTMSTIYSTGKVCNPDNPQECLLLEPGLNEIMANSLDYNERLWAWESWRSEVGKQLRPLYEEYVVLKNEMARANHYEDYGDYWRGDYEVNGVDGYDYSRGQLIEDVEHTFEEIKPLYEHLHAYVRAKLMNAYPSYISPIGCLPAHLLGDMWGRFWTNLYSLTVPFGQKPNIDVTDAMVDQAWDAQRIFKEAEKFFVSVGLPNMTQGFWENSMLTDPGNVQKAVCHPTAWDLGKGDFRILMCTKVTMDDFLTAHHEMGHIQYDMAYAAQPFLLRNGANEGFHEAVGEIMSLSAATPKHLKSIGLLSPDFQEDNETEINFLLKQALTIVGTLPFTYMLEKWRWMVFKGEIPKDQWMKKWWEMKREIVGVVEPVPHDETYCDPASLFHVSNDYSFIRYYTRTLYQFQFQEALCQAAKHEGPLHKCDISNSTEAGQKLFNMLRLGKSEPWTLALENVVGAKNMNVRPLLNYFEPLFTWLKDQNKNSFVGWSTDWSPYADQSIKVRISLKSALGDKAYEWNDNEMYLFRSSVAYAMRQYFLKVKNQMILFGEEDVRVANLKPRISFNFFVTAPKNVSDIIPRTEVEKAIRMSRSRINDAFRLNDNSLEFLGIQPTLGPPNQPPVSIWLIVFGVVMGVIVVGIVILIFTGIRDRKKKNKARSGENPYASIDISKGENNPGFQNTDDVQTSF"

In [58]:
muta = pd.read_csv("./urn_mavedb_00000069-a-1_scores.csv")

In [59]:
muta

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,rep1,rep2
0,urn:mavedb:00000069-a-1#1,NaN,NaN,p.R518X,-2.878625,-3.638723,-2.118526
1,urn:mavedb:00000069-a-1#2,NaN,NaN,p.Y515X,-0.842639,-0.942826,-0.742451
2,urn:mavedb:00000069-a-1#3,NaN,NaN,p.R514X,-1.385470,-1.370473,-1.400468
3,urn:mavedb:00000069-a-1#4,NaN,NaN,p.F512X,-2.513003,-2.687081,-2.338925
4,urn:mavedb:00000069-a-1#5,NaN,NaN,p.S511X,-0.925150,-0.998334,-0.851966
...,...,...,...,...,...,...,...
2336,urn:mavedb:00000069-a-1#2337,NaN,NaN,p.S19E,-1.436496,-1.061324,-1.811668
2337,urn:mavedb:00000069-a-1#2338,NaN,NaN,p.S19D,-1.353322,-1.491131,-1.215513
2338,urn:mavedb:00000069-a-1#2339,NaN,NaN,p.S19C,-1.169052,-0.909614,-1.428490
2339,urn:mavedb:00000069-a-1#2340,NaN,NaN,p.S19A,0.060673,-0.176500,0.297845
2340,urn:mavedb:00000069-a-1#2341,NaN,NaN,p.=,0.000000,0.000000,0.000000

In [60]:
mut = Mutations()

In [61]:
final = pd.DataFrame()

In [62]:
for i in range(0,muta["hgvs_pro"].count()):
    fila = pd.DataFrame({'name':[muta["hgvs_pro"][i]],'sequence':[mut.run(muta["hgvs_pro"][i],native)],'response':[muta["score"][i]]})
    final = pd.concat([final,fila])

In [63]:
final

       name                                           sequence  response
0   p.R518X  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA... -2.878625
0   p.Y515X  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA... -0.842639
0   p.R514X  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA... -1.385470
0   p.F512X  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA... -2.513003
0   p.S511X  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA... -0.925150
..      ...                                                ...       ...
0    p.S19E  MSSSSWLLLSLVAVTAAQETIEEQAKTFLDKFNHEAEDLFYQSSLA... -1.436496
0    p.S19D  MSSSSWLLLSLVAVTAAQDTIEEQAKTFLDKFNHEAEDLFYQSSLA... -1.353322
0    p.S19C  MSSSSWLLLSLVAVTAAQCTIEEQAKTFLDKFNHEAEDLFYQSSLA... -1.169052
0    p.S19A  MSSSSWLLLSLVAVTAAQATIEEQAKTFLDKFNHEAEDLFYQSSLA...  0.060673
0       p.=  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA...  0.000000

[2341 rows x 3 columns]

In [64]:
final.to_csv("./mutational.csv")